#cnt{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#loginForm{
    background-color: #FFF;
    padding: 4rem;
    border-radius: 2rem;
}