h1{
    padding-top: 1rem;
    color: #FFF;
    text-align: center;
}

#addEmployeeForm{
    background-color: #FFF;
    padding:3rem 4rem 3rem 4rem;//top right bottom left
    border-radius: 2rem;
}
Label{
    color: black;
}